<div class="createDiv">
    <%= render "project" ,project: @project %>

</div>



<!-- <div class="container px-2 py-2 text-center">
  <h2>Add new Project</h2>
     <div class="row inputDiv px-2 py-2 ">
       <div class="col-6" >
        <div class="container text-center" >
          <%= render "project" ,project: @project %>

        </div>
     </div>
     </div>
</div>
 -->